div {
    color: white;
}

p {
    color: white;
}
.description-container{
    display: flex;
    justify-content: space-between;
}
.item {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
    flex: 1;
  }