div {
    color: white;
}

p {
    color: white;
}
.description-container{
    display: flex;
}
.description-container h2{
    width: 100px;
    margin-top: 12px;
    background-color: orange;
    text-align: center;
    padding: 10px;
    border: 5px solid blue;
    flex: 1;
}
.description-container p{
    width: 100px;
    margin-top: 12px;
    background-color: black;
    text-align: center;
    padding: 10px;
    border: 5px solid red;
    flex: 1;

}